<div class="container">
  @if (loading) {
      <app-spinner></app-spinner>
    } @else if (!isServerHealth){
    <div class="serverDown">
      <button class="miningBtn down" disabled>
        <fa-icon [icon]="faScrewdriverWrench" size="sm"></fa-icon>
        <p>Fora do Ar</p>
        <div></div>
      </button>
      <app-server-down-msg></app-server-down-msg>
    </div>
    } @else if (isServerHealth){
    @if(!mining) {
      <div class="moduleContainer notMining pilacoin">
        <h2>Pilacoin</h2>
        <button class="miningBtn" (click)="startMiningPilacoins()">
          <fa-icon [icon]="faHammer" size="sm"></fa-icon>
          <p>MINERAR</p>
          <div></div>
        </button>
      </div>
      } @else {
      <div class="moduleContainer mining pilacoin">
        <h2>Pilacoin</h2>
        <div class="miningHeader">
          <div class="sw-container">
            <div>
              <span>Minerados: <strong>{{ pilacoins_total() }}</strong></span>
            </div>
          </div>
          <div class="miningMsg">
            <p>Minerando</p>
          </div>
          <button class="stopMiningBtn" (click)="stop()">
            <fa-icon [icon]="faStop" size="sm"></fa-icon>
            <p>PARAR</p>
            <div></div>
          </button>
        </div>
        <div class="charts">
          <div class="chart">
            <div id="columnChart"></div>
          </div>
          <div class="chart">
            <div id="barChart"></div>
          </div>
        </div>
      </div>
      }
      @if(!miningBlocks) {
      <div class="moduleContainer notMining pilacoin">
        <h2>Blocos</h2>
        <button class="miningBtn" (click)="startMiningBlocks()">
          <fa-icon [icon]="faHammer" size="sm"></fa-icon>
          <p>MINERAR</p>
          <div></div>
        </button>
      </div>
      }  @else {
      <div class="moduleContainer notMining pilacoin">
        <h2>Blocos</h2>
        <div class="miningMsg">
          <p>Minerando</p>
        </div>
          <button class="stopMiningBtn" (click)="stopMiningBlocks()">
            <fa-icon [icon]="faStop" size="sm"></fa-icon>
            <p>PARAR</p>
            <div></div>
          </button>
      </div>
      }
    }
</div>
