.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.serverDown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.chart {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.miningBtn {
  margin-top: 5%;
  padding: 5px;
  width: 300px;
  height: 45px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  color: #fff;
  background-color: #386754;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.miningBtn:hover {
  cursor: pointer;
  background-color: #2aaa8a;
}

.miningBtn.down {
  background-color: #808080;
  color: #fff;
}

.stopMiningBtn {
  background-color: #cc0000;
  color: #fff;
  display: flex;
  gap: 8px;
  border-radius: 5px;
  padding: 1px;
  padding-left: 6px;
}

.stopMiningBtn:hover {
  background-color: #F88379;
  color: #fff;
}

.miningHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}

.miningMsg p{
	transform: scale(1);
	animation: pulse 2s infinite;
  color: #2E8B57;
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
	}

	70% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(0.90);
	}
}

.stopwatch {
}
