<div class="pilacoin">
  <div class="fields">
    <div class="field">
      <p class="label">Criador:</p>
      <p class="value">{{ pilacoin.nomeCriador }}</p>
    </div>
    <div class="field">
      <p class="label">Data de Criação:</p>
      <p class="value">{{ pilacoin.dataCriacao | date:'dd/MM/yyyy'}}</p>
    </div>
    <div class="field">
      <p class="label">Status:</p>
      @if(pilacoin.status == "VALIDO") {
        <p class="value">Válido</p>
      }
    </div>
  </div>
  <button class="transferBtn">TRANSFERIR</button>
</div>
