<div class="container">
  <div class="header">
    <h2>Dados de Mineração de Pilacoins</h2>
  </div>
  <mat-paginator
      [pageSize]="10"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[5, 10, 15, 20, 25, 30, 35]"
      [length]="10000"
      [pageIndex]="currentPage"
      (page)="handlePageEvent($event)"
  >
  </mat-paginator>
  <div class="content">
    @for(pilacoinMiningData of pilacoinMiningDataArr(); track pilacoinMiningData.pilacoinMiningDataId) {
      <app-pilacoin-mining-data [pilacoinMiningData]="pilacoinMiningData"></app-pilacoin-mining-data>
    }
  </div>
</div>
